.bg-image{
    background-image: url(..//img/pattern.png);
    background-repeat: repeat;
    width: 500px;
    height: 150px;
    background-color: #238aea;
}
.booleaner-logo{
    width: 300px;
}
.scritto-grey{
    color: grey;
}
.booleaner{
    color:#238aea;
}
.italic{
    font-style: italic;
}
.riga-tabella{
    background-color: #238aea;
    color: white;
}
.cell-table{
    background-color: #82beed;
}
.highlight{
    background-color: yellow;
}
.tim-uno{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 250px;
    color: white;
    font-size: 20px;
}
.tim-due{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 250px;
    color: white;
    font-size: 20px;
}
